@media screen and (min-width: 375px) and (max-width: 599px) {
    * {
        box-sizing: border-box;
        font-family: 'Barlow Semi Condensed', sans-serif;
    }

    body {
        background-color: hsl(210, 46%, 95%);
    }

    main {
        display: grid;
        row-gap: 30px;
        margin-top: 50px;
    }

    section {
        width: 314px;
        margin: auto;
        padding: 20px;
        border-radius: 10px;
    }

    header {
        display: flex;
        align-items: center;
    }

    img {
        object-fit: cover;
        border-radius: 50%;
        margin-right: 10px;
    }

    .name {
        font-size: 13px;
        font-weight: 600;
        margin-bottom: 5px;
    }

    .status {
        font-size: 13px;
        font-weight: 500;
        margin-top: 5px;
    }

    .summary-testimonial {
        font-size: 21px;
        font-weight: 600;
    }

    .testimonial {
        font-size: 13px;
        font-weight: 500;
        width: 250px;
        line-height: 1.5;
    }

    #daniel {
        background-color: hsl(263, 55%, 52%);
        background-image: url('images/bg-pattern-quotation.svg');
        background-repeat: no-repeat;
        background-size: 135px;
        background-position: right 20px top;
    }

    #daniel img {
        border: solid 4px hsla(0, 0%, 100%, 0.5);
    }

    #daniel .name, #jonathan .name, #patrick .name {
        color: hsl(0, 0%, 100%);
    }

    #daniel .status, #jonathan .status, #patrick .status {
        color: hsla(0, 0%, 100%, 0.5);
    }

    #daniel .summary-testimonial, #jonathan .summary-testimonial, #patrick .summary-testimonial {
        color: hsl(0, 0%, 100%);
    }

    #daniel .testimonial, #jonathan .testimonial, #patrick .testimonial {
        color: hsla(0, 0%, 100%, 0.7);
    }

    #jonathan {
        background-color: hsl(217, 19%, 35%);
    }

    #jeanette, #kira {
        background-color: hsl(0, 0%, 100%);
    }

    #jeanette .name, #kira .name {
        color: hsl(219, 29%, 14%);
    }

    #jeanette .status, #kira .status {
        color: hsla(219, 29%, 14%, 0.5);
    }

    #jeanette .summary-testimonial, #kira .summary-testimonial {
        color: hsl(219, 29%, 14%);
    }

    #jeanette .testimonial, #kira .testimonial {
        color: hsla(219, 29%, 14%, 0.7);
    }

    #patrick {
        background-color: hsl(219, 29%, 14%);
    }

    #patrick img {
        border: solid 4px hsl(263, 55%, 52%);
    }

    footer {
        text-align: center;
        font-size: x-small;
        color: hsl(217, 19%, 35%);
    }

    a {
        color: hsl(219, 29%, 14%);
        text-decoration: none;
    }

    a:visited {
        text-decoration: none;
    }
}

@media screen and (min-width: 600px) and (max-width: 1199px) {
    * {
        box-sizing: border-box;
        font-family: 'Barlow Semi Condensed', sans-serif;
    }

    body {
        background-color: hsl(210, 46%, 95%);
    }

    main {
        display: grid;
        row-gap: 30px;
        margin-top: 50px;
    }

    section {
        padding: 20px;
        border-radius: 10px;
        width: 540px;
        margin: auto;
    }

    header {
        display: flex;
        align-items: center;
    }

    img {
        object-fit: cover;
        border-radius: 50%;
        margin-right: 10px;
    }

    .name {
        font-size: 13px;
        font-weight: 600;
        margin-bottom: 5px;
    }

    .status {
        font-size: 13px;
        font-weight: 500;
        margin-top: 5px;
    }

    .summary-testimonial {
        font-size: 21px;
        font-weight: 600;
        width: 500px;
    }

    .testimonial {
        font-size: 13px;
        font-weight: 500;
        width: 500px;
    }

    #daniel {
        background-color: hsl(263, 55%, 52%);
        background-image: url('images/bg-pattern-quotation.svg');
        background-repeat: no-repeat;
        background-position: right 65px top;
        background-size: 135px;
    }

    #daniel img {
        border: solid 4px hsla(0, 0%, 100%, 0.5);
    }

    #daniel .name, #jonathan .name, #patrick .name {
        color: hsl(0, 0%, 100%);
    }

    #daniel .status, #jonathan .status, #patrick .status {
        color: hsla(0, 0%, 100%, 0.5);
    }

    #daniel .summary-testimonial, #jonathan .summary-testimonial, #patrick .summary-testimonial {
        color: hsl(0, 0%, 100%);
    }

    #daniel .testimonial, #jonathan .testimonial, #patrick .testimonial {
        color: hsla(0, 0%, 100%, 0.7);
    }

    #jonathan {
        background-color: hsl(217, 19%, 35%);
    }

    #jeanette, #kira {
        background-color: hsl(0, 0%, 100%);
    }

    #jeanette .name, #kira .name {
        color: hsl(219, 29%, 14%);
    }

    #jeanette .status, #kira .status {
        color: hsla(219, 29%, 14%, 0.5);
    }

    #jeanette .summary-testimonial, #kira .summary-testimonial {
        color: hsl(219, 29%, 14%);
    }

    #jeanette .testimonial, #kira .testimonial {
        color: hsla(219, 29%, 14%, 0.7);
    }

    #patrick {
        background-color: hsl(219, 29%, 14%);
    }

    #patrick img {
        border: solid 4px hsl(263, 55%, 52%);
    }

    footer {
        text-align: center;
        font-size: x-small;
        color: hsl(217, 19%, 35%);
    }

    a {
        color: hsl(219, 29%, 14%);
        text-decoration: none;
    }

    a:visited {
        text-decoration: none;
    }
}

@media screen and (min-width: 1200px) {
    * {
        box-sizing: border-box;
        font-family: 'Barlow Semi Condensed', sans-serif;
    }

    html {
        display: flex;
        justify-content: center;
        height: 100%;
    }

    body {
        height: 100%;
        background-color: hsl(210, 46%, 95%);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    main {
        display: grid;
        row-gap: 20px;
        column-gap: 30px;
        justify-content: space-between;
    }

    section {
        border-radius: 10px;
        padding: 20px;
    }

    header {
        display: flex;
        align-items: center;
    }

    img {
        object-fit: cover;
        border-radius: 50%;
        margin-right: 10px;
    }

    .name {
        font-size: 13px;
        font-weight: 600;
        margin-bottom: 5px;
    }

    .status {
        font-size: 13px;
        font-weight: 500;
        margin-top: 5px;
    }

    .summary-testimonial {
        font-size: 21px;
        font-weight: 600;
    }

    .testimonial {
        font-size: 13px;
        font-weight: 500;
        line-height: 1.5;
    }

    #daniel {
        background-color: hsl(263, 55%, 52%);
        background-image: url('images/bg-pattern-quotation.svg');
        background-repeat: no-repeat;
        background-position: right 65px top;
        background-size: 135px;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    #daniel img {
        border: solid 4px hsla(0, 0%, 100%, 0.5);
    }

    #daniel .name, #jonathan .name, #patrick .name {
        color: hsl(0, 0%, 100%);
    }

    #daniel .status, #jonathan .status, #patrick .status {
        color: hsla(0, 0%, 100%, 0.5);
    }

    #daniel .summary-testimonial, #jonathan .summary-testimonial, #patrick .summary-testimonial {
        color: hsl(0, 0%, 100%);
    }

    #daniel .summary-testimonial {
        width: 500px;
    }

    #daniel .testimonial, #jonathan .testimonial, #patrick .testimonial {
        color: hsla(0, 0%, 100%, 0.7);
    }

    #daniel .testimonial {
        width: 480px;
    }

    #jonathan {
        background-color: hsl(217, 19%, 35%);
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    #jonathan .summary-testimonial {
        width: 200px;
    }

    #jonathan .testimonial {
        width: 190px;
    }

    #jeanette {
        background-color: hsl(0, 0%, 100%);
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    #jeanette .name, #kira .name {
        color: hsl(219, 29%, 14%);
    }

    #jeanette .status, #kira .status {
        color: hsla(219, 29%, 14%, 0.5);
    }

    #jeanette .summary-testimonial, #kira .summary-testimonial {
        color: hsl(219, 29%, 14%);
    }

    #jeanette .testimonial, #kira .testimonial {
        color: hsla(219, 29%, 14%, 0.7);
    }

    #jeanette .summary-testimonial, #jeanette .testimonial {
        width: 200px;
    }

    #patrick {
        background-color: hsl(219, 29%, 14%);
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    #patrick img {
        border: solid 4px hsl(263, 55%, 52%);
    }

    #patrick .summary-testimonial {
        width: 500px;
    }

    #patrick .testimonial {
        width: 460px;
    }

    #kira {
        background-color: hsl(0, 0%, 100%);
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    #kira .summary-testimonial {
        width: 200px;
    }

    #kira .testimonial {
        width: 190px;
    }

    footer {
        text-align: center;
        font-size: x-small;
        color: hsl(217, 19%, 35%);
    }

    a {
        color: hsl(219, 29%, 14%);
        text-decoration: none;
    }

    a:visited {
        text-decoration: none;
    }
}